<form>
  <div>
    <label for="nombreId">Nombre</label>
    <input id="nombreId"
           type="text"
           name="nombre"
           required
    >
  </div>
  <div>
    <label for="cedulaId">Cedula</label>
    <input id="cedulaId"
           type="text"
           name="cedula"
           required
    >
  </div>

  <div>
    <label for="estadoCivilId">Estado Civil</label>
    <select name="estadoCivil" id="estadoCivilId">
      <option value="Soltero">E.S. Soltero</option>
      <option value="Casado">E.S. Casado</option>
      <option value="Divorciado">E.S. Casado</option>
      <option value="Viudo">E.S. Casado</option>
      <option value="Unión libre">E.S. Unión libre</option>
    </select>
  </div>

</form>
